/* 媒体查询 */
html{
	overflow-y: scroll;
	width: 100%;
	height: 100%;
    font-size: 50px;
    -webkit-tap-highlight-color: transparent;
}
/*媒体查询设置需要写在html的后面*/
@media (min-width: 320px){
    html{font-size: 42px}
}
@media (min-width: 360px){
    html{font-size:48px}
}
@media (min-width: 375px){
    html{font-size: 50px}
}
@media (min-width: 411px){
    html{font-size:55px}
}
@media (min-width: 414px){
    html{font-size: 54px}
}
@media (min-width: 768px){
    html{font-size: 102px}
}
@media (min-width: 1024px){
    html{font-size: 136px;}
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */

/* 所有样式，设置盒子模型为border—box ，padding为0，margin为0*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 0.36rem; /* 18px / 12px = 1.5 */ }
h2 { font-size: 0.32rem; }
h3 { font-size: 0.28rem; }
h4, h5, h6 { font-size: 100%; }
p{
	font-size: 0.24rem;
}
li,span{
	font-size: 0.24rem;
}
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 0.24rem; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; color: inherit;}
/*a:hover { text-decoration: underline; }*/

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 0.02rem dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

body {
  color: #33373d;
  height: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  box-sizing: border-box;
}



.scrollX-hidden {
  overflow-x: hidden;
}

.scrollY-overlay {
  overflow-y: hidden !important;
}

.scrollY-overlay:hover {
  overflow-y: auto;
  overflow-y: overlay !important;
}


.gray {
  color: #969ba3;
}

.red {
  color: #ed424b;
}

.blue {
  color: #4284ed;
}
